.w100{width:100%;}
.header{background-color:#f2f7f1; height:111px; border-bottom:1px solid #b4deac;}
.h_main{margin: 0 auto;margin-top: 35px;width:980px;}
.h_logo{width:300px; float:left;}
.h_logo img{float:right;}
.h_addres{width:100px; float:left; height:60px;}
.h_addres p{ line-height:30px; height:30px;}
.ching{color:#39604c;}
.c888{color:#888;}
.h_ser{width:390px; float:left;}
.h_ser input{border:1px solid #39604c; height:38px; float:left; width:300px;}
.h_right{height:40px;line-height:40px;float:right;}
.h_right a{margin-left:10px;}
.h_header_info{width: 300px;margin-top: 5px;height: 20px;line-height: 20px;float: left;}
.h_header_info a {width: 50px;margin-left: 10px;font-size: 14px;}
.main{width:980px; height:auto;}
.m_header{height:60px; margin-top:37px; border-bottom:1px solid #eee;}
.m_header a{float:left; line-height:60px;  padding-right:50px; font-size:18px;}
.m_header .a_nav{font-size:22px; color:#333;}
.m_title{width:980px;height:75px;}
.t_left{height:40px; line-height:40px; margin-top:30px; float:left;}
.t_right{float:right;margin-top:30px; }
.t_right input{width:205px; border-left:none; height:32px; border:1px solid #ddd;}
.m_table{height:auto;}
.m_table table{width:980px;border-top:1px solid #ddd;border-left:1px solid #ddd; margin-bottom:20px;}
.m_table table tr{height:60px; line-height:60px;}
.m_table table tr td{border-right:1px solid #ddd;border-bottom:1px solid #ddd; text-align:center;}
.ss{background-image:url(../../../images/school/images/ss.png); background-repeat:no-repeat; background-position:bottom; width:50px; height:34px; border:0px;}
.ser{background-image:url(../../../images/school/images/ser.png); background-repeat:no-repeat; background-position:bottom; width:80px; height:40px; border:0px; float:left;}
.edit{background-image:url(../../../images/school/images/btn3.png); background-repeat:no-repeat; background-position:bottom; width:150px; height:40px; border:0px;}
.delete{background-image:url(../../../images/school/images/btn4.png); background-repeat:no-repeat; background-position:bottom; width:94px; height:40px; border:0px; margin-left:25px;}

	#content{ 
		width: 980px;
		margin: 0px auto;
	}
	#recommend{ 
		height: 180px;
		margin-top: 8px;
	}
	.span_check1{
		font-size: 30px; 
		font-weight: bold; 
		font-family: '雅黑';
	}
	.span_check2{
		font-size: 18px; 
		color: gray;
	}
	.recommend_content{ 
		float: left;
		border: 1px solid #f2f7f1;
		margin-right: 20px;
	}
	.recommend_newest{ 
		height: 100px;
		width: 220px;
	}
	.recommend_newest_left{ 
		height: 100px;
		width: 100px;
		float: left;
	}
	.recommend_newest_right{ 
		margin-left: 10px;
		float: left;
	}
	.recommend_newest_right h5{ 
		margin-top: 10px;
	}
	.recommend_newest_right span{ 
		margin-top: 6px;
		margin-bottom: 6px;
		display: block;
		height: 20px;
		width: 50px;
		color: #fff;
		background-color: #565cd4;
		clear: both;
		border-radius: 8px;
		text-align: center;
		font-size: 10px;
		line-height: 20px;
	}
	.recommend_newest_right li{ 
		line-height: 25px;
		font-weight: bold;
		color: #666;
	}
	.type_title{ 
		color: #666;
		line-height: 40px;
		font-size: 15px;
	}
	.type_title_right{ 
		float: right;
	}
	.type_conter { 
		height: 150px;
		background-color: #f8f8f8;
	}
	.type_conter div{ 
		clear: both;
		font-size: 14px;
	}
	.type_conter li{ 
		float: left;
		margin-left: 20px;
		color: #666;
		margin-top: 15px;
		height: 20px;
	}
	.pitch{ 
		width: 50px;
		background-color: #3850CB;
		border-radius: 8px;
		color: #fff !important;
		text-align: center;
		font-weight: bold;
	}
	.unchecked{ 
		width: 50px;
		background-color: #f8f8f8;
		border: 1px solid #3850CB;
		border-radius: 8px;
		color: #3850CB !important;
		text-align: center;
		font-weight: bold;
	}


#synthesize{ 
	margin-top: 20px;
}
#synthesize_left{ 
	width: 710px;
	border-right:  1px solid #f2f7f1;
	float: left;
}
#synthesize_title{ 
	height: 50px;
	border: 1px solid #f2f7f1;

} 
.synthesize_title_left{ 
	display: block;
	border-right: 1px solid #f2f7f1;
	width: 100px;
	line-height: 50px;
	text-align: center;
	color: #F99D7F;
	float: left;
}
.synthesize_title_right{ 
	display: block;
	border-left:  1px solid #f2f7f1;
	width: 100px;
	line-height: 50px;
	text-align: center;
	color: #F99D7F;
	float: right;
}
.synthesize_list{ 
	padding-top: 20px;
	height: 120px;
	border-bottom: 1px solid #f2f7f1;
	padding-bottom: 20px;
}
.synthesize_list_pic{ 
	width: 150px;
	height: 110px;
	float: left;
}
.synthesize_list_details{ 
	float: left;
	margin-left: 20px;
}
.synthesize_list_details span{ 
	font-size: 20px;
	line-height: 50px;
}
.synthesize_list_details li{ 
	line-height: 25px;
	color: #9b9b9b;
}
.synthesize_list_weixin{ 
	float: right;
	margin-right: 20px;
}
#synthesize_right{ 
	width: 268px;
	float: right;
}
#ad{ 
	
	border-top: 1px solid #f2f7f1;
}
#ad img{ 
	margin-top: 9px;
	margin-left: 9px;
}
.friendship{ 
	margin-left: 9px;
	margin-top: 20px;

}
.friendship span{ display: block;line-height: 30px;color: #9b9b9b;font-size: 16px;border-bottom:  1px solid #f2f7f1;}
.friendship li{ line-height: 30px;}

#page{ clear: both;height: 100px;margin-top: 30px;margin-left: 30px;color: #9b9b9b;}
#page span,#page a,#page font{ display: block;float: left;color: #9b9b9b;}

#page a{ width: 50px;height: 40px;text-align: center;line-height: 40px;border:  1px solid #f2f7f1;}
#page font{ text-align: center;line-height: 40px;width: 40px;}
.page_xuan{ background-color: #3850CB;color: #fff !important;}
#page span{ display: block;	width: 50px;line-height: 40px;}
/**城市选择*/
#inquire{ margin-top: 30px;line-height: 30px;font-size: 16px;color: #737373;}
#inquire select{ margin-left: 20px;width: 100px;height: 30px;text-align: center;color: #9b9b9b;}
#inquire input{ margin-left: 20px;width: 160px;height: 30px;}
hr{ margin-top: 15px;color: #fefefe;border-style:outset;clear: both;}
#hots{ margin-top: 20px;height: 60px;border-top: 1px solid #f2f7f1;border-bottom: 1px solid #f2f7f1;}
#hots li{ float: left;line-height: 60px;margin-right: 30px;font-size: 15px;}
.hot_default{ color: #28B1FF;}
.spell li{ float: left;line-height: 60px;margin-right: 30px;font-size: 15px;}
.spell_city{ clear: both;margin-top: 20px;}
.first_spell{ width: 5%;float: left;}
.first_spell span{ display: block;width: 30px;height: 30px;background-color: #28B1FF;text-align: center;font-weight: bold;line-height: 30px;color: #fff;}
.first_city{ width: 95%;display: block;float: left;}
.first_city li { margin-right: 15px;line-height: 30px;float: left;}
/*手机展示*/
#zhanshi_phone,#zhanshi_weixin,#zhanshi_leisi{ 
	float: left;
}
#zhanshi_weixin{width:295px;height:766px;position: relative;background-image:url(../../../images/school/images/index_04.png); background-repeat:no-repeat;}
.zxerweima{position: absolute;top: 310px;left: 55px;width:146px;}
.wxinfo{width: 150px;margin-top: 10px;font-size: 14px;letter-spacing: 4px;}
#zhanshi_leisi span{display: block;	margin-top: 160px;	margin-left: 50px;}
#zhanshi_leisi span h4{line-height: 40px;color: #9b9b9b;}

/*弹出框*/
.gov_zhezhao {
width: 100%;height: 100%;position: fixed;left: 0;top: 0;background-color: #2a2c36;filter: alpha(opacity=50);opacity: 0.5;z-index: 1001;}
.set_sapp {width: 460px;height: 260px;margin-top: -130px;font-size: 14px;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;background: #ecf0f5;position: fixed;left: 50%;top: 50%;margin-left: -210px;padding: 10px;z-index: 1002;}
.run_person{font-size: 30px;width: 130px;margin: 0 auto;margin-top: 40px;color: #444;}
.run_info{width: 360px;margin: 0 auto;margin-top: 30px;font-size: 16px;color: #929292;line-height: 25px;letter-spacing: 2px;}
.operation_button {width: 140px;margin: 0 auto;padding: 30px 0;}
.btn_ser {width: 140px;height: 35px;color: #fff;line-height: 35px;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;display: inline-block;text-align: center;font-size: 12px;}
.btn {border: none;font-size: 16px;background: #21b0f6;text-decoration: none;text-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;-webkit-transition: 0.25s;-moz-transition: 0.25s;-o-transition: 0.25s;transition: 0.25s;-webkit-backface-visibility: hidden;}
.btn:hover, .btn:focus {background-color: #64C3F2; color: white;-webkit-transition: 0.25s;-moz-transition: 0.25s;-o-transition: 0.25s;transition: 0.25s;-webkit-backface-visibility: hidden;}

/*管理入口*/
.box012{margin:0px auto;padding:107px 340px;width:300px;height:345px;background:url(../../../images/school/images/bg-13.jpg) center no-repeat;}
.box012_1{margin:0px;padding:99px 0px 0px 0px;width:300px;height:246px;float:left;}
.box012_1_1{margin:0px;padding:19px 0px 19px 83px;width:189px;height:33px;float:left;}
.box012_1_1_1{margin:0px;padding:0px;width:189px;height:33px;background:url(../../../images/school/images/bg-14.jpg) no-repeat center;float:left;border:none;}
.box012_1_2{margin:0px;padding:19px 0px 19px 23px;width:249px;height:40px;float:left;}
.btn_ser1 {width: 250px;height: 40px;color: #fff;line-height: 35px;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;display: inline-block;text-align: center;font-size: 12px;}

.btn1 {border: none;font-size: 16px;background: #fb6d42;text-decoration: none;text-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;-webkit-transition: 0.25s;-moz-transition: 0.25s;-o-transition: 0.25s;transition: 0.25s;-webkit-backface-visibility: hidden;}
.btn1:hover{background-color:#F78A69;color: white;-webkit-transition: 0.25s;-moz-transition: 0.25s;-o-transition: 0.25s;transition: 0.25s;-webkit-backface-visibility: hidden;}

/*所有框样式*/
.xxl_content{width:980px;margin: 0 auto;margin-top: 110px;margin-bottom: 110px}
.xxl_content_1{width: 480px;margin-left: 10px;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;border: 1px solid #ccc;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;box-shadow:  #7B7979 0px 0px 10px;}
.xxl_content_title{width: 480px;text-align: center;height: 70px;line-height: 70px;border-bottom: 1px solid #ccc;font-size: 24px;}
.xxl_content_info{width: 480px;margin: 0 auto;margin-top: 50px;}
.xxl_content_info dl {height: 36px;line-height: 36px;margin-bottom: 30px;}
.xxl_content_info dt {width: 110px;font-size: 16px;text-align: right;color: #929292;}
.person-input {width: 319px;height: 25px;padding:10px;line-height:25px;border: 1px solid #dce4ec;background: #fff;border-radius: 6px;margin-left: 10px;}
.xxl_select{width: 98px;height: 34px;line-height: 34px;border: 1px solid #dce4ec;border-radius: 6px;margin-left: 10px;}
.xxl_select select{width: 98px; border: 0px;}
.xxl_font{color: red;font-size: 12px;width: 200px;margin-left: 35px;}
/*登录样式*/
.xxl_content_2{width: 300px;;margin-left: 10px;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;border: 1px solid #ccc;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;box-shadow:  #7B7979 0px 0px 10px;}
.xxl_content_title2{width: 300px;text-align: center;height: 70px;line-height: 70px;border-bottom: 1px solid #ccc;font-size: 24px;}
.xxl_content_info2{width: 300px;margin: 0 auto;margin-top: 50px;}
.xxl_content_info2 dl {height: 36px;line-height: 36px;margin-bottom: 30px;}
.xxl_content_info2 dt {width: 70px;font-size: 16px;text-align: right;color: #929292;}
.person-input2 {width: 190px;height: 34px;line-height: 34px;border: 1px solid #dce4ec;background: #fff;border-radius: 6px;margin-left: 10px;}

.xxl_anlizs{width: 360px;margin-top: 5px;}
.xxl_aninfo{width: 810px;height: 30px;line-height: 30px;text-align: right;font-size: 14px;color: #ccc;letter-spacing: 2px;}

/*系统设置*/
.system_content{width: 980px;margin-top: 20px;}
.system_content dl{margin-top:20px;font-size: 16px;letter-spacing: 2px;line-height: 36px;}
.system_content dt{width:100px;font-size: 14px;}
.sys_span{font-size: 14px;padding-left: 20px;}
.sys_run_person{color:#ccc;font-size: 14px;}
.sys-input{height: 35px;}
.sys_div1{width:217px;height: 89px;}
.sys_div2{width:214px;height: 89px;}
.sys_dd{height: 89px;margin-top:10px;}